gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
avast-truststore.jks
avast-shield.pem
avast-*.pem
gcs.pem
google.pem
maven-chain.pem
cert-*.pem
